
body {
    background: #aaaaaa;
    font-size: 80%;
  }

.center-panel{
    background: white;
    height: 100%;
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* resize: vertical; */
    overflow: auto;
}

.card{
    /* width: 50%;
    border: 3 px solid blue;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    font-size: 90px;
    font-family: sans-serif;
    border: 3 px solid blue;

    background: white;
    color: blue;
    padding: 20px;
    /* resize: vertical; */
    overflow: auto;
}